In [43]:
2+3*6

20

In [2]:
(2+3)*6

30

In [3]:
48565878*578453

28093077826734

In [4]:
2**8

256

In [5]:
23/7

3.2857142857142856

In [6]:
23//7

3

In [7]:
2%7

2

In [8]:
2+2

4

In [9]:
(5-1) *((7+1)/(3-1))

16.0

In [10]:
5+

SyntaxError: invalid syntax (4281351646.py, line 1)

In [11]:
42+5+*2

SyntaxError: invalid syntax (2982304815.py, line 1)

In [12]:
'Hello, world!

SyntaxError: unterminated string literal (detected at line 1) (1551967912.py, line 1)

In [15]:
'Alice' + 'BOb'

'AliceBOb'

In [17]:
'Alice' + 42

TypeError: can only concatenate str (not "int") to str

In [18]:
'Alice' * 4

'AliceAliceAliceAlice'

In [19]:
'Alice' * 'Bob'

TypeError: can't multiply sequence by non-int of type 'str'

In [20]:
'Alice' * 5.0

TypeError: can't multiply sequence by non-int of type 'float'

In [29]:
spam = 40
spam

40

In [30]:
eggs = 2
spam + eggs

42

In [28]:
spam + eggs + spam

14

In [31]:
spam = spam + 2
spam

42

In [34]:
spam = 'Hello'
spam

'Hello'

In [35]:
spam = 'Goodbye'
spam

'Goodbye'

In [42]:
name = input('너 이름이 뭐니? : ')
name

'namespace'

In [44]:
age = input('몇살이니?')
age

'13'

In [45]:
print('Hello, World!')
print('What is your name?')
myName = input()
print('It is good to meet you, ' + myName)
print('The length of your name is:')
print(len(myName))
print('What is your age?')
myAge = input()
print('You will be ' + str(int(myAge) + 1) + 'in a year.')

Hello, World!
What is your name?
It is good to meet you, namespace
The length of your name is:
9
What is your age?
You will be 14in a year.

In [49]:
print(len('hello'))
print(len('sldfkslkjgslkgjslkjgslkjf sdfkljsldkfjsdklfj'))

5
44

In [53]:
print(str(0))
print(str(-3.14))
print(int('42'))
print(int('-99'))
print(int(1.25))
print(int(1.99))
print(float('3.14'))
print(float(10))

0
-3.14
42
-99
1
1
3.14
10.0

In [56]:
spam = input()
spam

'101'

In [62]:
spam = int(spam)
spam

101

In [61]:
spam * 10 / 5

202.0